django==5.2.1
mypy==1.15.0
django-extensions==4.1
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
django-phonenumber-field[phonenumbers]==8.1.0
django-stubs[compatible-mypy]
djangorestframework-stubs[compatible-mypy]
drf-spectacular==0.28.0
drf-spectacular[sidecar]==0.28.0
python-decouple==3.8
psycopg2-binary==2.9.10
ruff==0.11.8
pre-commit==4.2.0
typing-extensions==4.13.2
ipdb==0.13.13
factory_boy==3.3.3
Faker==37.1.0
