django==5.1.5
mypy==1.15.0
django-extensions==3.2.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.4.0
django-phonenumber-field[phonenumbers]==8.0.0
django-stubs[compatible-mypy]
djangorestframework-stubs[compatible-mypy]
drf-spectacular==0.28.0
drf-spectacular[sidecar]==0.28.0
python-decouple==3.8
psycopg2-binary==2.9.10
ruff==0.9.3
pre-commit==4.1.0
typing-extensions==4.12.2
ipdb==0.13.13
factory_boy==3.3.3
Faker==37.0.0
